<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.pds.mapper.PdsMapper">  
  
    <!-- 파라미터 전달법 : arg0, param1, HashMap, Vo -->
    <!-- 파라미터가 Vo 가 아니고 일반뱐수일때는 arg0, parma1 사용한다  -->
    <!-- arg0 : menu_id, arg1 : title,    arg2 : writer --> 
    <!-- arg3 : offset,  arg4 : pageSize                --> 
    
    <!-- 자료실 목록 조회 -->
    <select id="getPdsList">
      SELECT
        BNO,
        TITLE,
        WRITER,
        ( SELECT
            COUNT(*)
    	  FROM
            FILES
          WHERE
            BOARD.BNO = FILES.BNO
        ) FILESCOUNT,
        TO_CHAR( REGDATE, 'YYYY-MM-DD' ) REGDATE,
        HIT
	  FROM
		BOARD
	  WHERE
		MENU_ID = #{ menu_id }
	  ORDER BY BNO DESC
    </select>
    
    <select id="getPds">
      SELECT
        BNO,
        MENU_ID,
        TITLE,
        CONTENT,
        WRITER,
        TO_CHAR( REGDATE, 'YYYY-MM-DD HH24:MI:SS' ) REGDATE,
        HIT
      FROM
        BOARD
      WHERE
        BNO = #{ bno }
    </select>
    
    <select id="getFileList">
      SELECT
        FILE_NUM,
        BNO,
		FILENAME,
		FILEEXT,
		SFILENAME
	  FROM
	    FILES
	  WHERE
	    BNO = #{ bno }
    </select>
    
    <select id="getPdsPagingList">
      SELECT
        BNO,
        TITLE,
        WRITER,
        ( SELECT
            COUNT(*)
    	  FROM
            FILES
          WHERE
            BOARD.BNO = FILES.BNO
        ) FILESCOUNT,
        TO_CHAR( REGDATE, 'YYYY-MM-DD' ) REGDATE,
        HIT
	  FROM
		BOARD
	  WHERE
		MENU_ID = #{ arg0 }
	  ORDER BY BNO DESC
	  OFFSET #{ arg3 } ROWS FETCH NEXT #{ arg4 } ROWS ONLY 
    </select>
    
    <!-- 자료실 글쓰기(Board 저장) -->
    <insert id="setWrite">
      INSERT INTO BOARD (
      	BNO,
		MENU_ID,
		TITLE,
		CONTENT,
		WRITER,
		REGDATE,
		HIT
      )
      VALUES (
      	(SELECT NVL(MAX(BNO), 0) + 1 FROM BOARD),
		#{ menu_id },
		#{ title },
		#{ content },
		#{ writer },
		SYSDATE,
		0
      )
    </insert>
    
    <!-- 자료실 파일정보저장(Files) -->
    <!-- File Insert : 넘어온 파일 여러개를 한번에 저장 insert all -->
    <!-- Oracle INSERT ALL 반복할때
    	1) ( SELECT NVL(MAX(file_num), 0) + 1 FROM FILES ) 나
    	2) 시퀀스는
    	한번만 실행되기 때문에 INSERT ALL 에 바로 집어넣을 수 없다
    	별도의 ORACLE 함수를 생성하여 호출해야 값을 증가할 수 있다
    	
    	mybatis <insert> 안에는 ; 을 사용할 수 없다
    	  insert value ; 를 여러번 사용할 수 없다 (이유 : ; 때문에)
    	insert all 사용하면 insert 여러번 가능한데 이 경우
    	  select(max()) , 시퀀스는 여러번 적어도 한번만 호출되므로
    	  insert value 가 증가되지 않는다
    	→ oracle 별도 함수에 시퀀스를 저장하여 반복호출하면 된다
     -->
    <!-- <insert id="setFileWrite">
      <foreach item = "file" collection = "fileList" 
      		index = "i" 
      		open = "INSERT ALL" 
      		close = "SELECT * FROM DUAL"
      		separator = " "
      		>
      INTO FILES VALUES(
      	GET_FILENUM(),
      	( SELECT MAX(BNO) FROM BOARD ),
      	#{ file.filename },
      	#{ file.fileext },
      	#{ file.sfilename }
      )
      </foreach> 
    </insert> -->
    
    <insert id="setFileWrite">
      <foreach item = "file" collection = "fileList" 
      		index = "i" 
      		open = "INSERT ALL" 
      		close = "SELECT * FROM DUAL"
      		separator = " "
      		>
      INTO FILES VALUES(
      	GET_FILENUM(),
      	#{ file.bno },
      	#{ file.filename },
      	#{ file.fileext },
      	#{ file.sfilename }
      )
      </foreach> 
    </insert>
    
    <!-- 조회수 증가 -->
    <update id="setReadCountUpdate">
      UPDATE
        BOARD
      SET
        HIT = HIT + 1
      WHERE
        BNO = #{ bno }
    </update>
    
    <!-- 파라미터 file_num 는 오류발생 : arg0, param1 ... -->
    <select id="getFileInfo">
      SELECT
        FILE_NUM,
		BNO,
		FILENAME,
		FILEEXT,
		SFILENAME
      FROM
        FILES
      WHERE
        FILE_NUM = #{ arg0 }
    </select>
    
    <!-- FIles Table 삭제 : bno 로 여러개 -->
    <delete id="deleteUploadFile">
      DELETE
      FROM
        FILES
      WHERE
        BNO = #{ bno }
    </delete>

    <!-- FIles Table 삭제 : file_num 로 한개 -->
    <delete id="deleteUploadFileNum">
      DELETE
      FROM
        FILES
      WHERE
        FILE_NUM = #{ file_num }
    </delete>

	<!-- Board Table 삭제 : bno -->
    <delete id="setDelete">
      DELETE
      FROM
        BOARD
  	  WHERE
  	    MENU_ID = #{ menu_id }
  	  AND
  	    BNO = #{ bno }
    </delete>
    
    <!-- Board 정보 수정 -->
    <update id="setUpdate">
      UPDATE
        BOARD
      SET
		TITLE = #{ title },
		CONTENT = #{ content }
      WHERE
		BNO = #{ bno }
	  AND
	    MENU_ID = #{ menu_id }
    </update>
    
</mapper>